@import "../../shared";

.main {
    padding: 57px 27px;
    background-image: url("../../assets/icons/react-background-icon_light.svg"); 
    background-repeat: no-repeat;
    background-position: right center;
    flex: 1 1 auto;
    background-color: white;
    color: #2B283A;
    text-align: left;

    &--dark {
        background-image: url("../../assets/icons/react-background-icon_dark.svg"); 
        background-color: #282D35;
        color: white;    
    }
 
    &__title {
        font-size: rem(25px);
        font-weight: 700;
        margin: 20px 0;
    }

    &__textContainer {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
}

.facts {
    margin-top: 46px;
    list-style: disc;

    &__li {
        line-height: 19px;
        padding-block: 10px;
        margin-left: 20px;

        &::marker {
            font-size: 1.4rem;
            color: #61DAFB;
        }
    }
}
