@import "../../shared";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 30px 25px;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;

    &--dark {
        background-color: #21222A;

        .toggler {
            &__dark {
                color: #FFFFFF;
            }

            &__light {
                color: #918E9B;
            }    
    
            &__slider {
                justify-content: flex-end;
            }

            &__slider {
                border-color: white;
                background-color: #F5F5F5;
            }

            &__sliderCircle {
                background-color: black;
            }
        }    
    }
        
    &__title {
        color: #DEEBF8;
    }
}

.logo {
    display: flex;

    &__icon {
        margin-right: 10px;
    }
}

.toggler {
    display: flex;
    align-items: center;

    &__light {
        font-size: 0.625rem;
        font-weight: 600;
        color: #2B283A;
    }
    
    &__slider {
        width: 25px;
        height: 13px;
        background-color: #2B283A;
        border-radius: 2rem;
        margin-inline: 7px;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid black;
        box-sizing: content-box;
    }
    
    &__sliderCircle {
        height: 13px;
        width: 13px;
        background-color: white;
        border-radius: 50%;
    }
    
    &__dark {
        color: #D5D4D8;
    }
}